policy_module(oscap, 1.0.0)

########################################
#
# Declarations
#



type oscap_t;
domain_type(oscap_t)

type oscap_exec_t;
domain_entry_file(oscap_t, oscap_exec_t)

#============= oscap_t ==============
oscap_etc(oscap_t);
getty_oscap(oscap_t);
oscap_locale(oscap_t);
oscap_tty_device(oscap_t);

#!!!! This avc can be allowed using the boolean 'global_ssp'
#allow oscap_t urandom_device_t:chr_file { read open };
oscap_urandom_device(oscap_t);

#============= oscap_t ==============
#allow oscap_t devlog_t:sock_file write;
#allow oscap_t locale_t:file getattr;
#allow oscap_t syslogd_t:unix_stream_socket connectto;
#allow oscap_t usr_t:file { read getattr open };

allow oscap_t self:unix_dgram_socket { create connect };
oscap_devlog(oscap_t);
oscap_syslogd(oscap_t);
oscap_usr(oscap_t);



#============= oscap_t ==============

oscap_auditd_etc(oscap_t);

allow oscap_t auditd_exec_t:file getattr;
allow oscap_t auditd_log_t:dir { read getattr open search };
allow oscap_t auditd_log_t:file getattr;
allow oscap_t auditd_t:dir { read getattr open search };
allow oscap_t auditd_t:file { read getattr };
allow oscap_t auditd_t:lnk_file { read getattr };
allow oscap_t avahi_exec_t:file getattr;
allow oscap_t avahi_t:dir { read getattr open search };
allow oscap_t avahi_t:file { read getattr };
allow oscap_t avahi_t:lnk_file { read getattr };
allow oscap_t bin_t:dir { read getattr open };
allow oscap_t bin_t:file { read getattr open execute execute_no_trans };
allow oscap_t bin_t:lnk_file read;
allow oscap_t cert_t:dir getattr;
allow oscap_t clock_device_t:chr_file getattr;
allow oscap_t cron_spool_t:dir search;
allow oscap_t crond_exec_t:file getattr;
allow oscap_t crond_t:dir { read getattr open search };
allow oscap_t crond_t:file { read getattr };
allow oscap_t crond_t:lnk_file { read getattr };
allow oscap_t dbusd_etc_t:dir getattr;
allow oscap_t dbusd_exec_t:file getattr;
allow oscap_t debugfs_t:dir getattr;
allow oscap_t default_t:lnk_file getattr;
allow oscap_t device_t:chr_file { read write getattr open ioctl };
allow oscap_t devlog_t:sock_file getattr;
allow oscap_t devpts_t:chr_file getattr;
allow oscap_t devpts_t:dir { read getattr open };
allow oscap_t etc_t:dir { write remove_name add_name };
allow oscap_t etc_t:file { rename write setattr create unlink append };
allow oscap_t etc_t:lnk_file getattr;
allow oscap_t fixed_disk_device_t:blk_file getattr;
allow oscap_t getty_exec_t:file getattr;
allow oscap_t getty_t:dir { read getattr open search };
allow oscap_t getty_t:file { read getattr };
allow oscap_t getty_t:lnk_file { read getattr };
allow oscap_t home_root_t:dir { read getattr open search };
allow oscap_t httpd_config_t:dir getattr;
allow oscap_t httpd_exec_t:file getattr;
allow oscap_t init_exec_t:file getattr;
allow oscap_t init_t:dir { read getattr open search };
allow oscap_t init_t:file { read getattr };
allow oscap_t init_t:lnk_file { read getattr };
allow oscap_t initctl_t:fifo_file getattr;
allow oscap_t initrc_t:dir { read getattr open search };
allow oscap_t initrc_t:file { read getattr };
allow oscap_t initrc_t:lnk_file { read getattr };
allow oscap_t kernel_t:dir { read getattr open search };
allow oscap_t kernel_t:file { read getattr };
allow oscap_t kernel_t:lnk_file { read getattr };
allow oscap_t lastlog_t:file { read getattr open };
allow oscap_t lib_t:file execute_no_trans;
allow oscap_t local_login_t:dir { read getattr open search };
allow oscap_t local_login_t:file { read getattr };
allow oscap_t local_login_t:lnk_file { read getattr };
allow oscap_t login_exec_t:file getattr;
allow oscap_t modules_conf_t:dir { read write getattr open add_name };
allow oscap_t modules_conf_t:file { write read create open getattr };
allow oscap_t mouse_device_t:chr_file getattr;
allow oscap_t net_conf_t:file getattr;
allow oscap_t proc_kmsg_t:file getattr;
allow oscap_t proc_net_t:dir getattr;
allow oscap_t proc_net_t:file { read getattr open };
allow oscap_t proc_t:dir read;
allow oscap_t proc_t:file { read getattr open };
allow oscap_t proc_t:filesystem getattr;
allow oscap_t self:capability { net_admin sys_ptrace };
allow oscap_t self:fifo_file { read write getattr };
allow oscap_t self:process signal;
allow oscap_t shadow_t:file getattr;
allow oscap_t shell_exec_t:file { read getattr open execute execute_no_trans };
allow oscap_t sshd_exec_t:file getattr;
allow oscap_t sysadm_t:dir { read getattr open search };
allow oscap_t sysadm_t:file { read getattr };
allow oscap_t sysadm_t:lnk_file { read getattr };
allow oscap_t sysctl_dev_t:dir { read getattr open search };
allow oscap_t sysctl_dev_t:file getattr;
allow oscap_t sysctl_fs_t:dir { read getattr open search };
allow oscap_t sysctl_fs_t:file { read write getattr open };
allow oscap_t sysctl_hotplug_t:file getattr;
allow oscap_t sysctl_irq_t:dir { read getattr open };
allow oscap_t sysctl_irq_t:file getattr;
allow oscap_t sysctl_kernel_t:dir { read getattr open search };
allow oscap_t sysctl_kernel_t:file { read write getattr open };
allow oscap_t sysctl_modprobe_t:file getattr;
allow oscap_t sysctl_net_t:dir { read getattr open search };
allow oscap_t sysctl_net_t:file { read write getattr open };
allow oscap_t sysctl_net_unix_t:dir { read getattr open search };
allow oscap_t sysctl_net_unix_t:file getattr;
allow oscap_t sysctl_rpc_t:dir getattr;
allow oscap_t sysctl_t:dir { read getattr open };
allow oscap_t sysctl_t:file getattr;
allow oscap_t sysctl_vm_t:dir { read getattr open search };
allow oscap_t sysctl_vm_t:file { read getattr open };
allow oscap_t sysfs_t:file { read open };
allow oscap_t syslogd_exec_t:file getattr;
allow oscap_t syslogd_t:dir { read getattr open search };
allow oscap_t syslogd_t:file { read getattr };
allow oscap_t syslogd_t:lnk_file { read getattr };
allow oscap_t syslogd_var_run_t:dir getattr;
allow oscap_t system_cron_spool_t:dir { read getattr open };
allow oscap_t system_cron_spool_t:file { read getattr open append };
allow oscap_t system_dbusd_t:dir { read getattr open search };
allow oscap_t system_dbusd_t:file { read getattr };
allow oscap_t system_dbusd_t:lnk_file { read getattr };
allow oscap_t system_dbusd_t:unix_stream_socket connectto;
allow oscap_t system_dbusd_var_run_t:dir search;
allow oscap_t system_dbusd_var_run_t:sock_file write;
allow oscap_t system_map_t:file getattr;
allow oscap_t tmp_t:dir { search read create write getattr rmdir remove_name open add_name };
allow oscap_t tmp_t:file { write getattr read create unlink open ioctl };
allow oscap_t tmp_t:lnk_file read;
allow oscap_t tmpfs_t:dir { read getattr open };
allow oscap_t tmpfs_t:filesystem getattr;
allow oscap_t udev_exec_t:file getattr;
allow oscap_t udev_t:dir { read getattr open search };
allow oscap_t udev_t:file { read getattr };
allow oscap_t udev_t:lnk_file { read getattr };
allow oscap_t udev_tbl_t:file getattr;
allow oscap_t usb_device_t:chr_file getattr;
allow oscap_t user_devpts_t:chr_file getattr;
allow oscap_t user_home_dir_t:dir { read getattr open search };
allow oscap_t user_home_t:dir { read search open getattr };
allow oscap_t usr_t:dir { write read add_name };
allow oscap_t usr_t:file { write create };
allow oscap_t var_log_t:dir search;
allow oscap_t var_log_t:lnk_file read;
allow oscap_t xconsole_device_t:fifo_file getattr;







